{% extends "base_layout.html" %}
{% block body %}
<h2>Running Log</h2>
<h3>And other activities</h3>
<div><button style="float:right" class="btn-standard btn"><a class="no-line" href="{{ url_for('addactivity') }}">
    Add an Activity</a></button></div>
<div>
    <div class="chart-title">Activities per day by minute</div>
    <div class="chart-activities-min"></div>
</div>
<div>
    <div class="chart-title">Weekly Mileage</div>
    <div class="chart-weekly-mileage"></div>
</div>
<div>
    <div class="chart-title">Number of Runs per Week</div>
    <div class="chart-weekly-num-runs"></div>
</div>
<script>
var activity_min = {{ week_graph|tojson }};
stackedBar(activity_min, 'div.chart-activities-min', "minutes", 400, 800);
var weekly_milage = {{ weekly_milage|tojson }};
barChart(weekly_milage, 'div.chart-weekly-mileage', "miles", 400, 800);
var weekly_num_runs = {{ num_runs|tojson }};
barChart(weekly_num_runs, 'div.chart-weekly-num-runs', "runs", 400, 800);
</script>
{% endblock %}