{% extends "base_layout.html" %}
{% block body %}
<h2>Running Log</h2>
<h3>And other activities</h3>
<div><button style="float:right" class="btn-standard btn"><a class="no-line" href="{{ url_for('addactivity') }}">
    Add an Activity</a></button></div>
{% for chart in charts %}
<div>
    <div class="chart-title">{{ chart.title }}</div>
    <div class="chart-{{ chart.id }}"></div>
</div>
{% endfor %}
<script>
var chart_data = {{ charts|tojson }};
render_charts(chart_data);
</script>
{% endblock %}