{% extends "base_layout.html" %}
{% block body %}
  <h2>Add Activity</h2>
  {% if error %}
    {% for err in error %}
    <div class="error">{{ err }}</div>
    {% endfor %}
  {% endif %}
  {% if alert %}
  <div class="success">{{ alert }}</div>
  {% endif %}
  <form action="{{ url_for('addactivity') }}" method=post>
      <div>Activity:
            <select name="activity" onchange="this.form.submit()">
                {% for activity in activity_list %}
                <option value="{{ activity }}">{{ activity }}</option>
                {% endfor %}
            </select>
      </div>
  </form>
{% if activity %}
  <form action="{{ url_for('addactivity') }}" method=post>
      <fieldset>
          <legend>General:</legend>
          <input type=hidden name=activity value="{{ activity }}">
          {% for form_field in general_fields %}
          {% if form_field.form_type == 'select' %}
          <div>{{ form_field.display_name }}
            <select name="{{ form_field.field }}">
                {% for value in form_field.form_value %}
                <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
            </select>
          </div>
          {% else %}
          <div>{{ form_field.display_name }}
          <input type="{{ form_field.form_type }}" name="{{ form_field.field }}" value="{{ form_field.form_value }}"
                 placeholder="{{ form_field.placeholder }}"></div>
          {% endif %}
          {% endfor %}
          <div><input type=submit value=Submit></div>
      </fieldset>
      <fieldset>
          <legend>{{ activity }}:</legend>
          {% for form_field in activity_fields %}
          {% if form_field.form_type == 'select' %}
          <div>{{ form_field.display_name }}
            <select name="{{ form_field.field }}">
                {% for value in form_field.form_value %}
                <option value="{{ value }}">{{ value }}</option>
                {% endfor %}
            </select>
          </div>
          {% else %}
          <div>{{ form_field.display_name }}
          <input type="{{ form_field.form_type }}" name="{{ form_field.field }}" value="{{ form_field.form_value }}"
                 placeholder="{{ form_field.placeholder }}"></div>
          {% endif %}
          {% endfor %}
          <div><input type=submit value=Submit></div>
      </fieldset>
  </form>
{% endif %}
{% endblock %}