{% extends "base_layout.html" %}
{% block body %}
  <h2>Add Activity</h2>
  {% if error %}
    {% for err in error %}
    <div class="error">{{ err }}</div>
    {% endfor %}
  {% endif %}
  {% if alert %}
  <div class="success">{{ alert }}</div>
  {% endif %}
  <form action="{{ url_for('addactivity') }}" method=post>
      <div>Activity:
            <select name="activity" onchange="this.form.submit()">
                {% for activity in activity_list %}
                <option value="{{ activity }}">{{ activity }}</option>
                {% endfor %}
            </select>
      </div>
  </form>
{% if activity %}
  <form action="{{ url_for('addactivity') }}" method=post>
      <fieldset>
          <legend>{{ activity }}:</legend>
          <input type=hidden name=activity value="{{ activity }}">
          <div>Date Time:
          <input type=datetime-local name=date></div>
          <div>Activity Time:
          <input type=number name=activity_time placeholder="in minutes"></div>
          <div><input type=submit value=Submit></div>
      </fieldset>
  </form>
{% endif %}
{% endblock %}