<!doctype html>
<head>
  <title>The eringillingham.com</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/erin-posing.png') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <script src="https://d3js.org/d3.v4.js"></script>
  <script src="{{ url_for('static', filename='stacked_bar.js') }}"></script>
  <script src="{{ url_for('static', filename='bar_chart.js') }}"></script>
  <script src="{{ url_for('static', filename='popup.js') }}"></script>
  <script src="{{ url_for('static', filename='utilities.js') }}"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92277064-1', 'auto');
  ga('send', 'pageview');
</script>
</head>
<body>
  <div class="head">
    <ul class="navbar header">
      <li style="font-size: 30px;"><a href="/">The eringillingham.com</a></li>
      <li><a href="{{ url_for('activities') }}">Running Log</a></li>
      <li><a href="{{ url_for('addnumbers') }}">Add Some Numbers</a></li>
      <li><a href="{{ url_for('hello') }}">Hello</a></li>
      {% if session.username %}
      <li style="float: right"><a href="{{ url_for('logout') }}">Logged in as Erin</a></li>
      {% else %}
      <li style="float: right" onclick="render_popup('login-popup', '/login')">Login</li>
      {% endif %}
    </ul>
  </div>
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="messages">
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <div class="error">{{ message }}</div>
                {% else %}
                    <div class="success">{{ message }}</div>
                {% endif %}
            {% endfor %}
            </div>
          {% endif %}
      {% endwith %}
  <div class=page>
    {% block body %}{% endblock %}
  </div>
  {% if welcome %}
  <div class="foot welcome">
  {% else %}
  <div class="foot">
  {% endif %}
    <hr>
    <ul class="navbar footer">
      <li>2017 Erin Gillingham</li>
      <li style="float: right" onclick="render_popup('feedback-popup', '/feedback')">Site Feedback</li>
      <li style="float: right">
          {% if welcome %}
          <a class="welcome" href="/sitemap.xml">Sitemap</a>
          {% else %}
          <a href="/sitemap.xml">Sitemap</a>
          {% endif %}
      </li>
      <li style="float: right">
          {% if welcome %}
          <a class="welcome" href="https://github.com/egillingham/running-log" target="_blank">Site Repo</a>
          {% else %}
          <a href="https://github.com/egillingham/running-log" target="_blank">Site Repo</a>
          {% endif %}
      </li>
      <li style="float: right" onclick="render_popup_content('disclosure-popup', 'I am sorry for the misaligned divs and hover shadow that does not go the full height of the header. I have designed this website by hand on top of the Flask python package, and my CSS skills are not quite up to par. I am working on it.')">
          Disclosure</li>
    </ul>
  </div>
</body>