<!doctype html>
<head>
  <title>The eringillingham.com</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <script src="https://d3js.org/d3.v4.js"></script>
  <script src="{{ url_for('static', filename='stacked_bar.js') }}"></script>
</head>
<body>
  <div class="nav">
    <ul class="navbar">
      <li style="font-size: 30px;"><a href="/">The eringillingham.com</a></li>
      <li><a href="{{ url_for('addactivity') }}">Add Activity</a></li>
      <li><a href="{{ url_for('addnumbers') }}">Add Some Numbers</a></li>
      <li><a href="{{ url_for('hello') }}">Hello</a></li>
      {% if session.username %}
      <li style="float: right"><a href="{{ url_for('logout') }}">Logged in as Erin</a></li>
      {% else %}
      <li style="float: right"><a href="{{ url_for('login') }}">Login</a></li>
      {% endif %}
    </ul>
  </div>
  <div class=page>
    {% block body %}{% endblock %}
  </div>
</body>