{% extends "base_layout.html" %}
{% block body %}
<div>
    <h1 class="welcome">Welcome</h1>
    <div class="welcome big">The main goal of this website is to make a running log for myself, but I get distracted and so there's
        a hodgepodge of other stuff here, including the first thing I ever built, an amazing fully-functional server-side adding
        <a class="welcome" href=" {{ url_for('addnumbers') }}">calculator</a> (it really only adds)!</div>
</div>
<script>
var d = new Date();
var n = d.getMinutes();
if (n % 2 == 0) {
    var background_image = "{{ url_for('static', filename='images/sb-evening.jpg') }}";
} else {
    var background_image = "{{ url_for('static', filename='images/sierras.jpg') }}";
}
add_background_image(background_image);
</script>
{% endblock %}