{% extends "base_layout.html" %}
{% block body %}
<div>Hello<a href="{{ url_for('hello') }}">!</a> I'm Erin Gillingham. If you are looking for the amazing fully-functional
server-side adding calculator (it only adds) please <a href=" {{ url_for('addnumbers') }}">click here</a>. Otherwise, keep
scrolling to learn a bit about me through photos.</div>
<hr>
<h2>About Me</h2>
{% for icard in cards %}
<div>
    <div class='card'>
        <div class='card-pic'><img src="{{ url_for('static', filename='images/' + icard.img) }}"></div>
        <div class='card-txt'><div>{{ icard.img_text }}</div></div>
    </div>
</div>
{% endfor %}
{% endblock %}