html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 0px;
    padding-bottom: 30px;
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

h1 {
    color: #702963;
    text-align: center;
    font-size: 30px;
}

h2 {
    color: #702963;
    text-align: center;
    font-size: 30px;
}

div {
    color: #3B444B;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
}

div.error {
    font-size: 18px;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #ff7575;
    max-width: 500px;
}

div.error-http-msg {
    text-align: center;
}

div.success {
    font-size: 18px;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #a8d76f;
    max-width: 500px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

hr {
    color: #3a1d35;
}


/* All Nav Bar styling */

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.navbar li {
    float: left;
    height: 100%;
}

ul.navbar li a {
    display: block;
    text-align: center;
    text-decoration: none;
}

/* Header styling */

div.head {
    padding: 0px 0px 10px 0px;
}

ul.navbar.header {
    background-color: #592d51;
}

ul.navbar.header li a {
    padding: 14px 16px;
    color: white;
}

/* change the link color on hover */
ul.navbar.header li a:hover {
    background-color: #3a1d35;
}

/* Footer styling */
.foot {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 12px;
}

ul.navbar.footer li {
    padding: 0px 16px 0px 16px;
}

/* change the link color on hover */
ul.navbar.footer li a:hover {
    background-color: #3a1d35;
}

/* Card Pic Styling */

div.card {
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    /*display: inline-block;
    margin: 6px;*/
    margin: 0px auto;
    width: 360px;
    background-color: #fcfcfc;
}

div.color {
    height: 260px;
    width: 340px;
    background-color: #3a1d35;
}

div.card-pic {
    height: 340px;
    width: 340px;
}

div.card-txt {
    padding: 10px;
}

/* LET THE CHARTING BEGIN */

.bar:hover {
   stroke:#79858e;
   stroke-width:0.75
}

div.legend {
  margin: 0px 0px 0px 40px;
  position: relative;
}

div.legend-item {
  display: inline-block;
  padding: 6px;
}

div.legend-txt {
  display: inline-block;
  padding-left: 3px;
}

div.legend-icon {
    width: 8px;
    height: 8px;
    border: 2px transparent solid;
    display: inline-block;
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
}