html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 0px;
    padding-bottom: 30px;
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

body.b-image {
    background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: top center;              /* optional, center the image */
}

h1 {
    color: #702963;
    text-align: center;
    font-size: 30px;
}

h1.welcome {
    color: #fff;
    text-align: center;
    font-size: 100px;
    text-shadow: 1px 1px 2px #333334;
}

h2 {
    color: #702963;
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}

h3 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}

a.no-line {
    text-decoration: none;
    color: white;
}

div {
    color: #3B444B;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
}

div.big {
    font-size: 18px;
}

div.header {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

div.welcome {
    color: #fff;
    padding: 5px 50px 5px 50px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 2px #333334;
}

a.welcome {
    text-decoration: none;
    color: #fff;
}

div.error {
    font-size: 18px;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #ff7575;
    max-width: 500px;
}

div.error-http-msg {
    text-align: center;
}

div.success {
    font-size: 18px;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #a8d76f;
    max-width: 500px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

hr {
    color: #3a1d35;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #702963;
  color: white;
}

.formfield * {
  vertical-align: middle;
}

/* All Nav Bar styling */

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.navbar li {
    float: left;
    height: 100%;
}

ul.navbar li a {
    display: block;
    text-align: center;
    text-decoration: none;
}

/* Header styling */

div.head {
    padding: 0px 0px 10px 0px;
}

ul.navbar.header {
    background-color: #592d51;
}

ul.navbar.header li {
    padding: 14px 16px;
    color: white;
}

/* change the link color on hover */
ul.navbar.header li:hover {
    background-color: #3a1d35;
}

ul.navbar.header li a {
    color: white;
}

/* change the link color on hover */
ul.navbar.header li a:hover {
    background-color: #3a1d35;
}

/* Footer styling */
.foot {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 12px;
}

ul.navbar.footer li {
    padding: 0px 16px 0px 16px;
}

/* change the link color on hover */
ul.navbar.footer li a:hover {
    color: #3a1d35;
}



/* Card Pic Styling */

div.card {
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    /*display: inline-block;
    margin: 6px;*/
    margin: 0px auto;
    width: 360px;
    background-color: #fcfcfc;
}

div.color {
    height: 260px;
    width: 340px;
    background-color: #3a1d35;
}

div.card-pic {
    height: 340px;
    width: 340px;
}

div.card-txt {
    padding: 10px;
}



/* Pop-ups */
/* Login */
.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


/* LET THE CHARTING BEGIN */

.bar:hover {
   stroke:#79858e;
   stroke-width:0.75
}

div.legend {
  margin: 0px 0px 0px 40px;
  position: relative;
}

div.legend-item {
  display: inline-block;
  padding: 6px;
}

div.legend-txt {
  display: inline-block;
  padding-left: 3px;
}

div.legend-icon {
    width: 8px;
    height: 8px;
    border: 2px transparent solid;
    display: inline-block;
    vertical-align: middle;
    padding: 0px 0px 0px 0px;
}

div.chart-title {
    font-weight: bold;
    font-size: 18px;
}

div.tooltip {
    border-radius: 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    position: absolute;
    background-color: white;
    display: none;
    font-size: 14px;
    pointer-events: none;
}

div.tooltip-title {
    text-anchor: middle;
    font-weight: bold;
}

div.tooltip-text {
    text-anchor: middle;
}

.y-axis {
    font-size: 12px;
}

.x-axis {
    font-size: 12px;
}

/* buttons*/
.btn {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

.btn-standard {
    background-color: #592d51;
    color: white;
}

.btn-standard:hover {
    background-color: #702963;
    color: white;
}